.country-container {
   
    color: #2a2a2a;
  }
  
  .country-container h1 {
    font-size: 3rem;
    margin: 2rem;
  }
  
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    margin: 4rem 6rem;
  }
  
  .c-card {
    width: calc(33.333% - 1rem); /* Adjust width to fit three cards in a row */
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
    background-color: #fff; /* Ensure background is white */
  }
  
  .c-image {
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
  }
  
  .c-image img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .c-image:hover img {
    transform: scale(1.3);
  }
  
  .c-card h4 {
    font-size: 1.3rem;
    padding: 0.9rem 0 0.2rem 0;
  }
  
  @media screen and (max-width: 1200px) {
    .c-card {
      width: calc(50% - 1rem); /* Two cards per row on medium screens */
    }
  }
  
  @media screen and (max-width: 850px) {
    .country-container {
      margin: 2rem 1.5rem;
    }
  
    .card-wrapper {
      flex-direction: column;
    }
  
    .c-card {
      width: 100%; /* Full width for one card per row on small screens */
      margin-bottom: 1.5rem;
    }
  }
  